useDynLib("tseries", .registration = TRUE)

import("graphics", "stats", "utils")
importFrom("quadprog", "solve.QP")
importFrom("zoo", "zoo", "index", "index<-")
importFrom("quantmod", "getSymbols")

export("adf.test", "approx.irts", "arma", "as.irts",
       "bds.test",
       "daysecond",
       "garch", "garch.control",
       "get.hist.quote",
       "irts", "is.businessday", "is.irts", "is.weekend",
       "jarque.bera.test",
       "kpss.test",
       "maxdrawdown",
       "na.remove",
       "plotOHLC", "po.test", "portfolio.optim", "pp.test",
       "quadmap",
       "read.irts", "read.matrix", "read.ts", "runs.test",
       "seqplot.ts", "sharpe", "sterling", "surrogate",
       "terasvirta.test", "tsbootstrap",
       "value",
       "weekday", "white.test", "write.irts")

S3method("[", "irts")
S3method("as.irts", "default")
S3method("as.irts", "zoo")
S3method("coef", "arma")
S3method("coef", "garch")
S3method("fitted", "arma")
S3method("fitted", "garch")
S3method("lines", "irts")
S3method("logLik", "garch")
S3method("na.remove", "default")
S3method("na.remove", "ts")
S3method("plot", "arma")
S3method("plot", "garch")
S3method("plot", "irts")
S3method("points", "irts")
S3method("portfolio.optim", "default")
S3method("portfolio.optim", "ts")
S3method("predict", "garch")
S3method("print", "arma")
S3method("print", "bdstest")
S3method("print", "garch")
S3method("print", "irts")
S3method("print", "resample.statistic")
S3method("print", "summary.arma")
S3method("print", "summary.garch")
S3method("residuals", "arma")
S3method("residuals", "garch")
S3method("summary", "arma")
S3method("summary", "garch")
S3method("terasvirta.test", "default")
S3method("terasvirta.test", "ts")
S3method("time", "irts")
S3method("value", "irts")
S3method("vcov", "arma")
S3method("vcov", "garch")
S3method("white.test", "default")
S3method("white.test", "ts")
